page-login {


  button.butom_inicia.disable-hover.button.button-md.button-default.button-default-md.button-block.button-block-md.button-md-green {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }

}
