page-home {

  button.buton_home.disable-hover.button.button-md.button-default.button-default-md.button-block.button-block-md.button-md-green {
    width: 250px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

}
