page-extrato,
.extrato {

$grid-columns:               12 !default;



$grid-padding-width:         10px !default;



$grid-padding-widths: (

  xs: $grid-padding-width,

  sm: $grid-padding-width,

  md: $grid-padding-width,

  lg: $grid-padding-width,

  xl: $grid-padding-width

) !default;
}
